* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS' Helvetica, sans-serif; 
    background-color: white;
    color: black;
}

h1 {
    display: inline-block;
    font-size: 40px;
}

nav {
    padding-top: 30px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: darkblue;
}

p {
    font-size: 16px;
    color: black;
}

.subtitle {
    height: 200px;
    width: 100%;
    margin-bottom: 30px;
    background-color: burlywood;
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* To fix up */
.subtitle h2 {
    float: center;
}

#about-me {
    margin-left: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: teal;
    border: 3px solid blueviolet;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

#work {
    margin-right: 20px;
    float: right;
    width:50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    background-color: pink;
    border: 3px solid blue;
}