* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --darkgrey: #33393f;
    --whitesmoke: #ffffff;
}

body {
    background-color: var(--darkgrey);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS' Helvetica, sans-serif; 
    background-color: var(--darkgrey);
    color: var(--whitesmoke);
}

h1 {
    display: inline-block;
    font-size: 40px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 50px;
}

a {
    color: var(--whitesmoke);
    text-decoration: none;
}

p {
    font-size: 16px;
    color: var(--whitesmoke);
}

.subtitle {
    height: 500px;
    width: 100%;
    margin-bottom: 30px;
    background-image: url("../images/abstract_background.jpg");
    background-size: cover;
    background-position: center;
}

.Blurb section {
    padding: 20px;
    margin-bottom: 20px;
    clear: both;
    width: 100%;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--darkgrey);
    border: 3px solid aliceblue;
}

.Blurb h2 {
    margin-bottom: 10px;
    text-align: center;
    color: aliceblue;
    float: left;
}

.Blurb img {
    display: block;
    margin: 10px auto;
    max-width: 100px;
    border: 1px solid whitesmoke;
    float: left;
}

footer {
    padding: 30px;
    clear: both;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

@media screen and (min-width: 992px) {
    header {
        width: 75%;
    }