* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --lightlook: #f2eedf;
    --lightblue: #b8ccf2;
}

body {
    background-color: var(--lightlook);
    font-family: 'Cabin', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Pacifico', Helvetica, sans-serif; 
    background-color: var(--lightlook);
    color: black;
    border-bottom: var(--lightblue) solid 2px;
}

h1 {
    display: inline-block;
    font-size: 40px;
}

h2 {
    font-family: 'Pacifico', sans-serif;
}

.aboutTitle {
    margin-bottom: 20px;
}

nav {
    padding-top: 25px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Pacifico', sans-serif;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

nav a {
    color: black;
    text-decoration: none;
}

/* main {
    display: flex;
    flex-wrap: wrap;
} */

.subtitle {
    display: flex;
    height: auto;
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 20px;
}

.subtitle img {
    display: flex;
    height: 200px;
    width: 200px;
    align-items: center;
    object-fit: cover;
    margin-left: 40px;
    border: 5px solid var(--lightblue);
    border-radius: 50%;
}

.aboutMe {
    margin-top: auto;
    margin-left: 25px;
    padding: 10px;

}

.projects-container {
    padding: 20px;
    margin-right: 20px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px 50px;
    margin-left: 20px;
    padding: 20px;
}

.projects-container h2 {
    border-bottom: solid 3px var(--lightblue);
    padding: 10px;
}

.panel {
    /* display: flex;
    flex-direction: column; */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    font-family:'Cabin', sans-serif;
    font-size: 20px;
}

.panel h2 {
    display: flex;
    color: black;
    border-bottom: solid 3px var(--lightblue);
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    font-size: 25px;
}

.panel p {
    font-size: 20px;
}

.content {
    width: 100%;
    padding: 20px;
}

/* .content a {
    color: black;
} */

#covidTracker .card.big {
    background-image: url('../images/stranded_screencapture.png');
}

#weatherDashboard .card.big {
    background-image: url('../images/weatherdashboard_screencapture.png');
}

#codeQuiz .card.big {
    background-image: url('../images/codeQuizscreencapture.png');
}

#workPlanner .card.big {
    background-image: url('../images/workplanner_screencapture.png')
}

.card.big {
    display: block;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.5;
    background-size: 100% auto;
}                       

.panel ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#contactTitle {
    color: red;
}

footer {
    flex-shrink: 0;
    padding: 10px;
    clear: both;
    font-family:'Cabin', sans-serif;
    text-align: center;
    background: black;
    color: white
}

nav li:hover {
    font-weight: bold;
    text-decoration: underline;
}

.card.big:hover {
    box-shadow: inset 0px 0px 8px black, 0 0 15px black;
    font-style: italic;
    opacity: 1.0;
}

.content a:hover {
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav li {
        display: block;
    }

    .subtitle {
        flex-direction: column;
    }

    .panel ul {
        flex-direction: column;
    }

    .panel li {
        display: block;
        margin-bottom: 20px;
    }

    .grid-container {
        display: block;
    }

    .grid-container p {
        margin-bottom: 20px;
    }
}
/* 
@media screen and (max-width: 500px) {
    .panel {
        display: flex;
        flex-direction: column;
    }


} */

